html {
  scroll-behavior: smooth;
}
body {
	padding-top: 70px;
	background-image:  url("Reef.jpg"), url("IMG_20201228_085721.jpg"), url("mohammad-alizade-XgeZu2jBaVI-unsplash.jpg");
	background-repeat: no-repeat, no-repeat;
	/*background-size: 100% 100%;*/
	opacity: 0.7, 1;
	background-position: auto, top-left, top-right;
	background-size: auto, 100% 100%;
}

.brand{
	
	letter-spacing: 0.1em;
	font-size: 21px;
	font-weight: bold;
	padding-top: 0px;
	/*padding-bottom: 20px;*/
  /*font-size: 21px;*/
  background: -webkit-linear-gradient(#f0e43c, rgba(115, 255, 227,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom-center{

	position: relative;
	text-align: center;
	font-size: 18px;
	padding-top: 2px;
	color: #077ab0;
	font-weight: bold;
}

.background{
	background-image: url("Pinot Noir.jpg");	
}

.col-lg-3.col-sm-6{
	margin-top: 100px;
}

.caret{
	margin-left: 5px;
	color: #f0e43c;
}

.Contact{
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.1em;
	/*background-color: green;*/
}

.dropdown-toggle {
	padding-left: 50px;
	padding-right: 50px;
	/*margin-left: 40px;*/
}

.dropdown-menu{
	background-color: #f0e43c;
	padding-left: 10px;
	padding-right: 10px;
}

/*.email::before {
	content: "E-mail";
}*/

#fontsize {
	font-size: 2em;
	color: #f0e43c;
	text-decoration: blink;
	font-weight: bold;
}

.fa-instagram {
	color: #f0e43c;
	font-size: 18px;
}

.followup- {
	color: #f0e43c;
}

.followup{
	color: rgba(115, 255, 227,1);
	font-weight: bold;
	font-size: 18px;
}

.glyphicon-headphones{
	height: 100%;
	width: 100%;
	/*position: 50% 50%;*/
	color: white;
	font-size: 25px;
}

.glyphicon-envelop{
	/*width: 50px;*/
	padding-left: 42px;
}

.glyphicon-earphone{
	/*width: 50px;*/
	padding-left: 42px;
}

hr.style13 {
	color: #f0e43c;
	height: 10px;
	border: 0;
	box-shadow: 0 12px 10px -10px #dddec5 inset;
	margin-bottom: 150px;
}

.imgOverlay{
	/*margin-top: 50%;*/
	/*margin-left: 50%;*/
	position: absolute;
	top: 0;
	left: 0;
	/*width: 100%;*/
	/*height: 100%;*/
	/*background: rgba(0,0,0,0.6);*/
	color: #ffffff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	/*opacity: 0;*/
	/*transition: opacity 0.25sec;*/
}

.image {
    display: block;
    width: 100%;
    
}

/*.img:hover{
	opacity: 1;
}*/

.thumbnail  {
	opacity: 0.5;
  transform-origin: 50% 50%;
  transition: transform 0.8s, filter 0.5s ease-in-out;
  filter: brightness(100%);
}

/*The Transformation */
.thumbnail:hover {
  filter: brightness(100%);
  transform: scale(1.4);
  opacity: 1;
  image-rendering: flex;
}

.jumbotron {
	color: #2c3e50;
	background: url("FB_IMG_1609128909624.jpg");
}

.mouseEnter {
	line-height: 15px;
	width: 50px;
}

.mouseEnter1 {
	line-height: 15px;
	text-align: center;
}

.navbar-inverse {
    background-color: #2c3e50;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: rgba(115, 255, 227,1);
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

p {
	color: #f0efd5;
	opacity: 0.9;
}

.sc{
	font-size: 25px;
	font-weight: bold;
	font-style: italic;	
	color: #e0d538;	
	float: left;
}

.thumbnail{
	padding: 2px;
	color:#42c2f5;
	margin-bottom: 33px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	background-color: #fffff5;
	border: 1px solid #fffff5;
}

 .vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/*-----------------------------------------------------------------------------------------------------------------*/

.dot-collision {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f0e43c;
  color: #f0e43c;
}

.dot-collision::before, .dot-collision::after {
  content: '';
  display: inline-flex;
  position: absolute;
  top: 0;
}

.dot-collision::before {
  left: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f0e43c;
  color: #f0e43c;
  animation: dotCollisionBefore 2s infinite ease-in;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.dot-collision::after {
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f0e43c;
  color: #f0e43c;
  animation: dotCollisionAfter 2s infinite ease-in;
  animation-delay: 1s;
}

@keyframes dotCollisionBefore {
  0%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-15px);
  }
}

@keyframes dotCollisionAfter {
  0%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/

.dot-overtaking {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 6px;
  background-color: transparent;
  color: black;
  margin: -1px 0;
  box-shadow: 0 -20px 0 0;
  filter: blur(2px);
  animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
}

.dot-overtaking::before, .dot-overtaking::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: black;
  box-shadow: 0 -20px 0 0;
  filter: blur(2px);
}

.dot-overtaking::before {
  animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: .3s;
}

.dot-overtaking::after {
  animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: .6s;
}

@keyframes dotOvertaking {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
  

